N8N_PORT={{ n8n_port }}
N8N_HOST=127.0.0.1
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL=https://{{ n8n_domain }}/
WEBHOOK_URL=https://{{ n8n_domain }}/
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=127.0.0.1
DB_POSTGRESDB_DATABASE={{ n8n_db_name }}
DB_POSTGRESDB_USER={{ n8n_db_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
GENERIC_TIMEZONE={{ n8n_timezone | default('UTC') }}
